.overview-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.overview-header-button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

#add-button {
  background-image: url("../../resources/icons/add.svg");
  background-position-x: 8px;
  background-position-y: 6px;
  background-repeat: no-repeat;
  border: 2px solid #ce1444;
  border-radius: 5px;
  color: #ce1444;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px 8px 45px;
  margin-left: auto;
  margin-right: 18px;
  transition: 0.2s all ease;
}

#add-button:hover {
  background-color: #ce1444;
  background-image: url("../../resources/icons/add_white.svg");
  color: white;
}

.overview-container {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  padding: 120px 100px 0 100px;
}

.overview-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  max-width: 100%;
}

.overview-item {
  border: 1px solid #dadada;
  border-radius: 5px;
  color: #171717;
  text-decoration: none;
  margin-bottom: 16px;
}

.overview-item:not(:last-child) {
  margin-right: 23px;
}

.overview-item-header {
  width: 260px;
  height: 120px;
}

.overview-item-header-gaming {
  background: #ce1444;
}

.overview-item-header-edu {
  background: #4e7cc2;
}

.overview-item-description {
  height: 50px;
  padding: 18px 20px 12px 20px;
}

.overview-item-description-title {
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-weighT: 600;
}

.overview-item-description-edit {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #333333;
}
